@import "tailwindcss";
@import "./_fonts.css";
@import "./_fontawesome-5.15.3.css";
@import "./_colors.css";
@import "../../../theme.css";

@source "../components/**/*.twig";
@source "../../../templates/**/*.twig";

@theme {
    --font-sans: "Graphik-Web";
    --text-base: 1.0625rem;
    --text-base--line-height: 1.45;
}

body {
    @apply antialiased text-cobblestone-800;
}
