@import "tailwindcss";
@import "./_fonts.css";
@import "./_fontawesome-6.7.2.css";
@import "./_colors.css";
@import "./_rich-text.css";
@import "../../../../theme.css";
@import "../components/molecules/form/form.css";
@import "../components/molecules/data-table/data-table.css";

@source "../components/**/*.twig";
@source "../../../../templates/**/*.twig";

@theme {
    --font-sans: "Graphik-Web";
    --text-base: 1.0625rem;
    --text-base--line-height: 1.45;

    --breakpoint-xl: 71.25rem;
    --breakpoint-2xl: 96rem;
}

body {
    @apply antialiased text-cobblestone-800;
}
