<div data-component="molecules.pagination" class="flex items-center justify-between">
    <nav class="flex items-center justify-between w-full">
        <!-- Previous Button -->
        <div class="flex flex-1">
            {% if pageInfo.prevUrl %}
                {{ render('atoms.button', {
                    label: 'Previous'|t('mvbdesignsystem'),
                    href: pageInfo.prevUrl,
                    target: '_self',
                    variant: 'ghost',
                    icon: {
                        position:  'left',
                        name: 'arrow-left'
                    },
                }) }}
            {% endif %}
        </div>

        <!-- Page Numbers -->
        <div class="hidden md:flex items-center">
            <span>{{ ('Page {currentPage} of {totalPages}')|t({
                currentPage: pageInfo.currentPage,
                totalPages: pageInfo.totalPages
                }, 'mvbdesignsystem') }}</span>
        </div>

        <!-- Next Button -->
        <div class="flex w-0 flex-1 justify-end">
            {% if pageInfo.nextUrl %}
                {{ render('atoms.button', {
                    label: 'Next'|t('mvbdesignsystem'),
                    href: pageInfo.nextUrl,
                    target: '_self',
                    variant: 'ghost',
                    icon: {
                        position:  'right',
                        name: 'arrow-right'
                    },
                }) }}
            {% endif %}
        </div>
    </nav>
</div>