{% set componentId = generateUniqueComponentId('tooltip') %}

<div class="isolate" data-component="tooltip">
    <button data-component="tooltip.trigger"
            class="cursor-help"
         aria-describedby="{{ componentId }}">
        {{ triggerHtml|raw }}
    </button>

    <div data-component="tooltip.content"
         id="{{ componentId }}"
         role="tooltip"
         class="bg-cobblestone-800 text-white text-sm px-2 hidden py-1.5 absolute top-0 left-0 w-max rounded-sm">
        {{ contentHtml|raw }}
        <div data-component="tooltip.arrow" class="bg-cobblestone-800"></div>
    </div>
</div>
