{% set dates = dates|default([])|filter((v) => v is not null) %}

{% set footerHtml %}
    <div class="flex justify-between px-3 pb-3 pt-2 isolate z-20">
        <div class="flex items-center text-sm text-cobblestone-600 whitespace-nowrap space-x-1">
            {% if dates|length > 0 %}

                {{ render('atoms.event-time', {date: dates|first}) }}

                {% if dates|length > 1 %}

                    {{ render('molecules.dates-tooltip', {
                        dates: dates|slice(1),
                    }) }}

                {% endif %}
            {% endif %}
        </div>
    </div>
{% endset %}

{{ render('molecules.card', {
    content: content,
    href: href,
    badges: badges|default(null),
    img: img|default(null),
    footerHtml: footerHtml,
    attributes: attributes|default({}),
}) }}
