<div class="grid grid-cols-4">

    {{ render('molecules.support-scroll-spy', {
        contentHtml: contentHtml,
        items: items
    }) }}

    <div class="col-span-3 pl-8">
        {% for item in items  %}

                <h2 id="{{ item.label|replace({' ':'-'})|lower }}" class="mt-12 mb-6 scroll-spy-target first:mt-0 scroll-mt-[6.875rem]">
                    {{ item.label }}
                </h2>
            <section class="min-h-[400px]">

            </section>
        {% endfor %}
    </div>
</div>