.freeform-form a {
    color: var(--color-primary);
    text-decoration: underline;
    transition: color .2s ease-in-out;
}

.freeform-form a:hover {
    color: var(--color-primary-600);
}

.freeform-form {
    box-sizing: border-box;
}

.freeform-form .freeform-required::after {
    content: "*";
    color: var(--color-monza-500);
    margin-left: 3px;
}

@keyframes freeform-processing {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(1turn)
    }
}

.freeform-form button[type=submit].freeform-processing {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.freeform-form button[type=submit].freeform-processing:before {
    content: "";
    display: block;
    flex: 1 0 11px;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent transparent #fff #fff;
    border-radius: 50%;
    animation: freeform-processing .5s linear infinite;
}

.freeform-form [data-field-type=multiple-select] option:checked {
    background-color: var(--color-primary-600);
    color: #ffffff;
}

.freeform-form [data-field-type=signature] canvas {
    border: 1px solid var(--color-cobblestone-300) !important;
}

.freeform-form [data-field-type=table] [type=radio] {
    margin-bottom: -3px !important;
}

.freeform-form [data-field-type=table] [type=radio] + label {
    color: var(--color-cobblestone-900);
}

.freeform-form [data-field-type=table] table thead tr th {
    color: var(--color-cobblestone-600);
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .025em;
    border-bottom: 1px solid var(--color-cobblestone-300);
    padding-bottom: 3px !important;
}

.freeform-form [data-field-type=table] table tbody tr:first-child td {
    padding-top: 10px !important;
}

.freeform-form [data-field-type=file-dnd] [data-placeholder] {
    font-size: .875rem;
    color: var(--color-cobblestone-600);
    text-align: center;
    width: auto;
}
