<div class="w-full grid gap-4 sm:grid-cols-2 lg:grid-cols-[repeat(auto-fit,minmax(0,1fr))]">
{% for item in items  %}
    {{ render('atoms.button', {
        label: item.label,
        href: item.href,
        variant: item.variant,
        icon: item.icon is defined ? item.icon : null,
        textAlign: item.textAlign is defined ? item.textAlign : 'center',
        attributes: {
            class: 'lg:text-xl lg:py-6 lg:px-8 flex-grow font-bold',
        }
    }) }}
{% endfor %}
</div>