{% set languages = languages|default([]) %}

<div class="relative" data-component="language-switcher">
    {{ render('atoms.button', {
        variant: 'ghost',
        icon: {
            name: 'globe',
            position: 'right',
        },
        label: 'Language'|t('mvbdesignsystem'),
        attributes: {
            'data-component-part': 'language-switcher.trigger'
        }
    }) }}

    <ul class="lg:absolute hidden data-[state=open]:block bg-white z-[900]" data-component-part="language-switcher.sub-menu">
        {% for lang in languages %}
            <li class="pl-2 lg:pl-0">

                {{ render('atoms.button', {
                    label: lang.labelEn|t('mvbdesignsystem'),
                    href: lang.href,
                    variant: 'ghost',
                    textAlign: 'left',
                    attributes: {
                        class: 'whitespace-nowrap lg:w-full',
                        hreflang: lang.alpha2Code,
                    }
                }) }}

            </li>
        {% endfor %}
    </ul>
</div>
