{% set size = size|default('large') %}

{% set columnSizeClasses = {
    'large': 'auto-rows-[minmax(70px,_90px)] lg:auto-rows-[minmax(100px,_120px)]',
    'medium': 'auto-rows-[minmax(50px,_70px)] lg:auto-rows-[minmax(60px,_80px)]',
}[size] %}

{% set baseClasses = [
    'w-full grid gap-4 sm:grid-cols-2 lg:grid-cols-4',
    columnSizeClasses ?? 'auto-rows-[minmax(80px,_120px)] lg:auto-rows-[minmax(100px,_120px)]'
]|join(' ') %}
<div data-component="molecules.logo-cloud">
    {% if heading is defined and heading|length %}
        {{ render('atoms.lined-heading', {
            text: heading,
            level: headingLevel|default('h2'),
            visualLevel: headingVisualLevel|default('h2'),
            attributes: {
                class: 'mb-6'
            }}) }}
    {% endif %}
    <div class="{{ baseClasses }}">
        {% for item in items %}
            {{ render('atoms.logo', {
                alt: item.alt,
                src: item.src,
                width: item.width,
                height: item.height,
                monochrome: item.monochrome ?? null,
                href: item.href is defined ? item.href : null,
                attributes: {
                    class: 'bg-white',
                    additionalImgClasses: 'object-contain max-h-full max-w-full w-full h-full',
                }
            }) }}
        {% endfor %}
    </div>
</div>