{% set icon = icon is defined and icon.name is defined ? icon : null %}
{% set attributeCollection = attributes|default({})|collect() %}
{% set _additionalClasses = attributeCollection.get('class') %}
{% set _additionalAttributes = attributeCollection.forget(['class']).toArray() %}

<div data-component="molecules.icon-paragraph" class="flex justify-start flex-col sm:flex-row sm:justify-start items-center gap-4 sm:gap-6 {{ _additionalClasses }}" {{ attributesToHtml(_additionalAttributes) }}>

    {% if icon %}
        <div class="block md:w-8 lg:w-12 flex-shrink-0 sm:text-center">
            {{ render('atoms.icon', {name: icon.name, attributes: {class: 'text-2xl md:text-3xl'}}) }}
        </div>
    {% endif %}

    {{ render('atoms.paragraph', {
        contentHtml: contentHtml
    }) }}

</div>
